.titre{
    margin: 50px;
}
.heure_com{
    background: #F8F8F9;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.visual-interne{
    height: 700px;
    width: 100%;
    z-index: 1;
    background-image: url(../../public/img2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carte{
    margin-bottom: 100px;
}